# From /opt/retropie/configs/all/CRT/Retroarch/configs/arcade.cfg

aspect_ratio_index = "23"
video_smooth = "false"
video_crop_overscan = "false"
video_scale_integer = "false"
video_threaded = "false"
input_autodetect_enable = "true"
config_save_on_exit = "false"
menu_driver = "rgui"
input_overlay_enable = "false"

core_options_path = "/opt/retropie/configs/all/CRT/Retroarch/cores/arcade-core.cfg"

netplay_input_latency_frames_min = "2"
netplay_input_latency_frames_range = "0"
netplay_stateless_mode = "true"

# Added by /opt/retropie/configs/all/CRT/Emu_Launcher.py

